<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/mdui.css" />
    <link rel="stylesheet" type="text/css" href="../css/head.css"/>
    <title>菜单</title>
    <link rel="stylesheet" type="text/css" href="../css/LoginAndRegister.css"/>
    <link rel="stylesheet" type="text/css" href="../css/adminMain.css"/>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/adminMain.js"></script>
</head>
<body>
<div id="main">
    <div id="topNevigation">
        <div id="topNevigation-title">一卡通系统</div>
    </div>
    <div id="menu">
        <a href="addStu">
            <div class="info-btn" id="menu1">
                <p class="info-btn-p">开卡</p>
            </div>
        </a>
        <a href="removeStu">
            <div class="info-btn" id="menu2">
                <p class="info-btn-p">注销卡</p>
            </div>
        </a>
    </div>
    <div id="tableBorder" class="mdui-table-fluid">
        <table class="mdui-table" >
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>生日</th>
                <th>身份证号</th>
                <th>地址</th>
                <th>电话</th>
                <th>班级</th>
                <th>是否注销</th>
            </tr>
            <tr th:each="stu : ${stuinfo}">
                <td th:text="${stu.stuNum}"></td>
                <td th:text="${stu.sname}"></td>
                <td th:text="${stu.sage}"></td>
                <td th:text="${stu.birthdate}"></td>
                <td th:text="${stu.identifyNum}"></td>
                <td th:text="${stu.address}"></td>
                <td th:text="${stu.phone}"></td>
                <td th:text="${stu.clazz}"></td>
                <td th:text="${stu.check}==0?'注销':'在校'"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>