<html>
<head>
    <title>TopSuccess</title>
    <link rel="stylesheet" href="../css/head.css" />
</head>
<style type="text/css">
    #goToLogin{
        margin-top: 150px;
        margin-right: 150px;
    }
    #tips{
        color: #757575;
        padding-left: 600px;
        padding-top: 100px;
    }
    #goTo{
        color: #757575;
        margin-left: 200px;
        margin-top: 150px;
    }
</style>
<body>
<h1 id="tips">充值成功</h1>
<div  id="goTo">
    <a href="/stu/menu">---------->前往菜单界面</a>
</div>
</body>
</html>
