<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/mdui.css" />
    <link rel="stylesheet" type="text/css" href="../css/head.css"/>
    <title>菜单</title>
    <link rel="stylesheet" type="text/css" href="../css/LoginAndRegister.css"/>
    <link rel="stylesheet" type="text/css" href="../css/adminMain.css"/>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/adminMain.js"></script>
    <style>
        #menu1{
            margin-left: 700px;
        }
        #menu2{
            margin-left: 100px;
        }
    </style>
</head>
<body>
<div id="main">
    <div align="center">
        <div id="topNevigation-title" >学生教务系统</div>
    </div>
    <div align="center">
        <a href="login/admin">
            <div class="info-btn" id="menu1">
                <p class="info-btn-p">管理员登录</p>
            </div>
        </a>
        <a href="login/stu">
            <div class="info-btn" id="menu2">
                <p class="info-btn-p">学生登录</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>